@import 'variables';
*{
    font-family: 'MuseoModerno', sans-serif;
}
.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #0D0D0D;
    text-transform: uppercase;
    &--left{
        max-width: 799px;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
        text-align: left;
    }
}
@import "header";
@import "promo";
@import "buttons";
@import "advantage";
@import "consultation";
@import "forms";
@import "media";
